.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.title {
  color: #fff;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.header img {
  cursor: pointer;
}
