.filterContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: white;
  border-radius: 0 0 8px 8px;
  padding: 15px;
}

.todoButton {
  border: none;
  background: transparent;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.todoButton:focus {
  color: hsl(220, 98%, 61%);
}
